
/*gilroy*/
@font-face {
  font-family: gilroy;
  src: url(../../assets/font/GILROY/Gilroy-ExtraBold.otf);
  font-weight: bolder;
}

@font-face {
  font-family: gilroy;
  src: url(../../assets/font/GILROY/Gilroy-Light.otf);
  font-weight: lighter;
}
/*kanit*/
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-Black.ttf);
  font-weight: black;
}

@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-BlackItalic.ttf);
  font-weight: black ;
  font-style: italic;
}

@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-Bold.ttf);
  font-weight: bold ;
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-BoldItalic.ttf);
  font-weight: bold ;
  font-style: italic;
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-ExtraBold.ttf);
  font-weight: bolder; 
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-ExtraBoldItalic.ttf);
  font-weight: bolder; 
  font-style: italic;
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-ExtraLight.ttf);
  font-weight: lighter; 
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-ExtraLightItalic.ttf);
  font-weight: lighter; 
  font-style: italic;
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-Light.ttf);
  font-weight: 300; 
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-LightItalic.ttf);
  font-weight: 300; 
  font-style: italic;
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-Light.ttf);
  font-weight: 300; 
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-LightItalic.ttf);
  font-weight: 300; 
  font-style: italic;
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-Medium.ttf);
  font-weight: 500; 
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-MediumItalic.ttf);
  font-weight: 500; 
  font-style: italic;
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-Regular.ttf);
  font-weight: 400; 
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-SemiBold.ttf);
  font-weight: 600; 
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-SemiBoldItalic.ttf);
  font-weight: 600; 
  font-style: italic;
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-Thin.ttf);
  font-weight: 100; 
}
@font-face {
  font-family: kanit;
  src: url(../../assets/font/KANIT/Kanit-ThinItalic.ttf);
  font-weight: 100; 
  font-style: italic;
}

body{
	overflow-x:hidden;
	font-family: 'kanit';
}
*{
	font-family: 'kanit';

}
nav{

}
#logoMB{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 250px;
	z-index: 10;
	background-color: white;
}

.navbar{
	visibility: all;
	width: 350px;
	border-bottom: 1px solid black;
	margin-left: 20px;
	padding-bottom: 0px;

}
.navbar-brand img{
	width: 120px;
}
#btn-menu{
	position: fixed;
	top:-20px;
	right:-20px;
	background-image: url("../../assets/img/circle.png");
	background-size: cover;
	width: 70px;
	height: 70px;
	z-index: 101;
	cursor: pointer;
}
#btn-menu img{
	width: 30px;
	margin-top:30px;
	margin-left:15px;
	cursor: pointer;
}
#menu {
  width: 4px;
  height: 4px;
  position:fixed;
  top:0px;
  right:0px;
  background: red;
  border-radius:0px 0px 0px 6200px;
  transition: width .5s, height .4s, border-radius .6s;
  z-index: 100;
  background-image: url("../../assets/img/fondo-menu.png");
  background-size:cover ;
}

#menu.open {
  width: 100%;
  height: 100%;
  border-radius:0px;
  z-index: 100;
  background-image: url("../../assets/img/fondo-menu.png");
  background-size: cover;
    transition: width .5s, height .4s, border-radius .6s;
}

.navbar.open {
	visibility: hidden;

}
.menu-list{
	visibility: hidden;
	transition-property: visibility;
	transition-delay: .1s;
}
.menu-list.show{
	visibility: visible;
	transition-property: visibility;
	transition-delay: .6s;

}
#list-item{
	font-size: 5vw;
	font-weight: 800;
	color: #5b1dec;
	width: 75%;

}
.item{
	cursor: pointer;
}
#submenu{
	font-size: 23px;
	font-weight: 400;

}

#bullets{
	position: fixed;
	left: 0px;
	top:40%;
	  z-index: 100;

}
#bullet1{
	width: 17px;
	height: 17px;
	border-radius: 30px;
	border: 1px solid #01FFA2;
	background-color: #01FFA2;
}
#bullet2,#bullet3{
	width: 17px;
	height: 17px;
	border-radius: 30px;
	border: 1px solid #01FFA2;
	background-color: transparent;
}


#titlechart{
	background-image: url("../../assets/img/fondo@2x.png") ;
	background-size: cover;
}

#MagicBoxBig{
	position: absolute;
	min-width: 400px;
	background-image: url("../../outro.png");
	width: 819.1px;
	height: 379px;
	top: 0%;
    
}

#MagicBoxText{
	min-width: 400px;
	position: absolute;
	width: 40%;
	top:50%;
	font-family: 'kanit', sans-serif;
	font-weight: 300;
	color: #B5B4B5;
	font-size: 18px;
	opacity: 0;
}


#green-x{
	position: absolute;
	left: 75%;
	top: 75px;
	width: 50px;
	z-index: -1;
}
#blue-x{
	position: absolute;
	left: 10%;
	bottom: 125px;
	width: 70px;
	z-index: 3;
}
#transparent-x{
	position: absolute;
	right: 5%;
	width: 75px;
	bottom: 75px;
	z-index: -3;
}
#down{
	position: absolute;
	bottom: 75px;
	width: 75px;
	opacity: 0;
}
#grupoMas{
	position: absolute;
	right: 25px;
	width: 50px; 
}
/*about us*/
.aboutUS{
	background-color: white;
}
.borde{
	position: absolute;
	min-width: 600px;
	width: 60%
}
.somosMB{
	position: absolute;
	min-width: 325px;
	width: 32.5%
}

.boton-play{
	position: absolute;
	min-width: 100px;
	width: 10%;
	z-index: 4;
}
.lat-der{
	position:static;
	right: 101px;
	top: 15px;
	width: 57%
}
#screen2{
	margin-top: 190vh;
	opacity: 0;
}
#parrafo2{
	top:100px;
	left: 25px;
	color: purple;
	position: absolute;
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
	font-size: 25px;
}
.ourWork{
	background-color: white
	z-index: 5;
	

}
#ourwork-title{
	font-size: 19vw;
	color: #01FFA2;
	top:-5%;
	position: absolute;
	font-family: 'kanit', sans-serif;
	font-weight: 500;
	right: 0%;
	display: none;
}
#carousel{
	position: absolute;
	width: 100%;
	margin-top: 80px;
	z-index: 3;
	left: -4000px;
}
.slider-btn{
	width: 30px;
}
.carousel-items{
	display: inline-flex;
}
.portafolio{
	width: 100%;
	box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75);
	cursor: pointer;
}
.masDiv{
	padding-top: 12px;
	padding-bottom: 36px;
}
#mas{
	background-color: #7541EA;
	width: 100%;
	height: 100%;
}
#mas p{
	font-size: 10vw;
	font-family: 'Kanit', sans-serif;
	font-weight: 700;
	color: #00FE9C;
}
.emergente{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top:0px;
	background-color: white;
	z-index: 100;
	box-shadow: 11px 12px 27px -10px rgba(0,0,0,0.53);
}
.emergente.open{
	display: block;
}
#navbar-emergente{
	width: 100%;
	background-color: #5B1DEC;
	position: absolute;
	top:0px;
	left: 0px;
	color: #01FFA2;
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
	z-index: 10;
	transition: width .5s, height .4s;
	min-height: 53px;

}
#navbar-emergente.open {
  width: 100%;
  height: 100%;
  transition: width .5s, height .4s;
}
#navbar-emergente p{
	font-family:  'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
#emergente-lateral{
	position: fixed;
	width: 60px;
	height: 100%;
	top:0px;
	right:0px;
	background-color: black;
}
#ux-amazing{
	position: absolute;
	bottom: 100px;
	left: 0PX;	
	height: 300px;

}
#burger-emergente{
	position: absolute;
	left: 0px;
	top:0px;
	background-color: #01FFA2;
	width: 60px;
	height: 54px;
}
#close-emergente{
	position: absolute;
	right: 0px;
	top:0px;
	background-color: #01FFA2;
	width: 60px;
	height: 54px;
}
#Burger-emergente-btn{
	width: 35px;
	margin-top: 13px;
}
#Burger-emergente-close{
	width: 44px;
	margin-top: 5px;
}

#emergenteClose{
	width: 60%;
	margin-top: 60px;
}
#emergente-logo{
	position: fixed;
	bottom: 0px;
	background-color: #5C1EEC;
	width: 100%;
	height: 50px;
}
.emergente-information{
	padding-top: 40px;
	width: calc(100% - 60px);
	height: 100%;
	position: absolute;
	left: 0px;
	top:0px;
	z-index: 3;
}
#titulo-emergente{
	font-family: "Kanit", sans-serif;
	font-weight: 500;
	font-size: 38px;
	color: #5B1DEC;
	text-align: left
}
/*Capsulas animadas */
#cabecera1{

}
#cabecera3,#cabecera4{
	background-color: #01FFA2;
	min-height: 80px;
	width: 100%;
}
#cabecera1 img{
	max-height: 80px;
    margin-top: 10px;
}
#cabecera1 p{
	font-family: "Kanit", sans-serif;
	font-weight: 500;
	font-size: 27px;
	color: #7A48ED;
	text-align: left;
	line-height:1;
}
#cabecera2{
	min-height: 70px;
	width: 100%;
}


#animacion{
	background-image: url("../../assets/img/fondopasarela.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#animacion2{
	background-image: url("../../assets/img/fondo-movil.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#animacion3{
	justify-content: center;
    align-items: center;
}
#carousel-5{
	width: 75%;
	background-image: url("../../assets/img/fondo-anim3.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#carousel-6,#carousel-7{
	width: 75%;
}
#animacion4{
	background-image: url("../../assets/img/fondo-morado.png");
	background-repeat: no-repeat;
	background-size: 100% 50%;
}
.etiqueta{
	position: absolute;
	left: 6%;
	z-index: 4;
}
#carousel-mac{
	width: 75%;
}
.div-phone{
	background-image: url("../../assets/img/fondopasarela.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	margin-left:-200%;
}
#phones {
    width: 80%;
    height: 70%;
}
.phone{
	cursor: pointer;
	height: 90%;
}
#phone1,#phone2,#phone3,#phone4{
	opacity: 0;
}

#cabecera3 img{
	max-height: 60px;
    margin-top: 10px;
}
#cabecera2 p{
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #7A48ED;
	text-align: left;
	line-height:1;
}

#cabecera3 p{
	font-family: "Kanit", sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: #7A48ED;
	text-align: left;
	line-height:1;
}
#cabecera4 p{
	font-family: "Kanit", sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: #7A48ED;
	text-align: left;
	line-height:1;
}
#cabecera4 img{
	max-height: 60px;
    margin-top: 10px;
}
#text1{
	width: 100%;
	height: auto;
	background-color: white;
}
#text1 p{
	font-family: "Kanit", sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #7A48ED;
	text-align: left;
	line-height:1.2;
}
#cabecera-blanca-2 p{
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: white;
	text-align: left;
	line-height:1;
}
#cabecera-blanca-1 p{
	font-family: "Kanit", sans-serif;
	font-weight: 500;
	font-size: 27px;
	color: white;
	text-align: left;
	line-height:1;
}


/*Capsulas animadas */
.how{
	background-size: cover;
	background-color: #5b1dec;
	bottom: 0px;
	z-index: 2;
	top:100%;
	color: #00FE9C;
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0;
}
#como-title{
	width: 200%;
	background-color: #5b1dec;
}
#como-hacemos{
	font-size: 4vw;
    font-weight: 500;
    float: left;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#como-hacemos2{
	font-size: 27px;
	font-weight: 500;
	float: left;
	position: relative;
	left: 12%;
	max-width: 60%;
	font-family: 'Kanit', sans-serif;

}
#cuadro-how{
	background-image: url(../../assets/img/SB-17.png);
	background-size: cover;
	width: 80%;
	height: 70%;
	position: relative;
}
.iconoMB{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 40px;
}
#cuadro-how p{
	font-size: 27px;
	font-weight: 300;
	color: white;
	font-family: 'Kanit', sans-serif;
	text-align: left;
}
#icon-selected{
	width: 125px;
}
.icon-fases{
	width: 50px;
}

#icon-selected-text h4{
	font-family: 'kanit', sans-serif;
	font-weight: 500;
	font-size: 25px;
	

}
#ourPeople{
	background-color: white;
	background-image: url("../../assets/img/fondo@2x.png") ;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 20;
	bottom: 100%;
	opacity: 0;
}
#ourPeople-title{
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
	font-size: 80px;
	color: #00FE9C;
	font-style: normal;
}
.btn-ourPeople{
	width: 50px;
}

.people-list{
	overflow: visible;
	height: 75%;
	width: 90%
}
.list-people{
	height: fit-content;
	cursor: pointer;

}
.integrantes1{
	display: block;
	width: 100%
}
.integrantes2{
	display: none;
	width: 100%
}
.people-row{
	width: 80%;
}
.MemberName{
	font-size: 25px;
	color: white;
	width: -webkit-fill-available;
	position: absolute;
	bottom: 25px;
	left: 0px;
	font-weight: 400;
	line-height: 1;
}
.MemberPos{
	font-size: 20px;
	color: #00FE9C;
	width: -webkit-fill-available;
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-weight: 300;
}
.back{
	background-color: rgba(91, 29, 236,1);
	background-image: url("../../assets/img/enmascarar.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	width: -webkit-fill-available;
	height:-webkit-fill-available;
	position: absolute;
	top: 0px;
	left:0px;
	color: white;
	font-size: 14px;
	text-align: left;
	transform: rotateY(90deg);
	transition: 6s
}
#TeamName{
	position: absolute;
	top:-1px;
	left: 0px;
	width: 100%;
	height: auto;
	min-height: 30px;
	font-size: 22px;
	padding-top: 1px;
	line-height: 1;
    font-weight: 400;
}
.MAZ{
	background-color:#01FFa2;
}

.Growth{
	background-color:#10e2c9;
}
.happy{
	background-color:#10C2E2;
}
.transformation{
	background-color:#2374f7;
	
}
.coord{
 background-color:#3b05b9;
}
#categoria{
    cursor: pointer;
}
#capsula{
	opacity: 0;
	transition: 1s;
	display: none;
}
#Learning{
	opacity: 0;
	transition: 1s;
	display: none;
}
#Infografias{
	opacity: 0;
	transition: 1s;
	display: none;
}
#Comunicacion{
	opacity: 0;
	transition: 1s;
	display: none;
}
#Mas{
	opacity: 0;
	transition: 1s;
	display: none;
}

#capsula.active{
	opacity: 1;
	transition: 1s;
	display: block;
}
#Learning.active{
	opacity: 1;
	transition: 1s;
	display: block;
}
#Infografias.active{
	opacity: 1;
	transition: 1s;
	display: block;
}
#Comunicacion.active{
	opacity: 1;
	transition: 1s;
	display: block;
}

#Mas.active{
	opacity: 1;
	transition: 1s;
	display: block;
}
#carousel-4{
	width: 70%;
}
.card{
	border:none;
}




@media screen and (max-width: 992px) {
	#screen2{
		margin-top: 140vh;
		opacity: 0;
	}
	#green-x{
		position: absolute;
		left: 75%;
		top: 75px;
		width: 5vw;
		z-index: -1;
	}
	#blue-x{
		position: absolute;
		left: 10%;
		bottom: 125px;
		width: 7vw;
		z-index: 3;
	}
	#transparent-x{
		position: absolute;
		right: 5%;
		width: 75px;
		bottom: 7.5vw;
		z-index: -3;
	}
	#carousel-mac{
	width: 100%;
}
#carousel-4{
	width: 100%;
}
	

	}

@media screen and (max-width: 600px) {

	#list-item{
	font-size: 10vw;
	font-weight: 800;
	color: #5b1dec;
	width: 100%;
}
	#screen2{
		margin-top: 140vh;
		opacity: 0;
	}
	#green-x{
		position: absolute;
		left: 75%;
		top: 75px;
		width: 5vw;
		z-index: -1;
	}
	#blue-x{
		position: absolute;
		left: 10%;
		bottom: 125px;
		width: 7vw;
		z-index: 3;
	}
	#transparent-x{
		position: absolute;
		right: 5%;
		width: 75px;
		bottom: 7.5vw;
		z-index: -3;
	}

	#ourwork-title{
	font-size: 22vw;
	color: #01FFA2;
	top:-5%;
	position: absolute;
	font-family: 'kanit', sans-serif;
	font-weight: 500;
	right: 0%;
	top: 10%;
	display: none;
}
	#cuadro-how {
    background-image: url(../../assets/img/SB-22.png);
    background-size: cover;
    width: 100%;
    height: 70%;
    position: relative;
}
#cuadro-how p{
	font-size: 20px;
	font-weight: 300;
	color: white;
	font-family: 'Kanit', sans-serif;
	padding: 0px 10px;
	text-align: center;
}

	#como-hacemos2 {
    font-size: 27px;
    font-weight: 700;
    float: left;
    position: relative;
     left: 0%; 
     max-width: 100%; 
    font-family: 'Kanit', sans-serif;
}
.integrantes1{
	display: block;
	width: 100%
}
.integrantes2{
	display: block;
	width: 100%
}
.emergente-information{
	padding-top: 40px;
	width: 100%;
	height: 100%;
}
#MagicBoxBig{
	position: absolute;
	min-width: 400px;
	background-image: url("../../outro50.png");
	width: 409.6px;
	height: 190px;
}
.animacion{
	width: 100%;
	height: 50%;
}
#carousel-mac{
	width: 100%;
}
.etiqueta{
	position: relative;
	left: 0px;
}
#carousel-5,#carousel-6,#carousel-7{
	width: 100%;
}
	

	}
	@media all and (max-width: 800px) and (orientation: landscape) { 
	#submenu{
		display: none;
	}
	#section1,#section2,#section3{
		font-size: 25px;
	}
	#btn-menu img {
	    width: 20px;
	    margin-top: 23px;
	    margin-left: 10px;
	}
	#btn-menu {
    position: fixed;
    top: -16px;
    right: -16px;
    background-image: url(../../assets/img/circle.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    z-index: 101;
}
 #MagicBoxText {
    min-width: 300px;
    position: absolute;
    width: 30%;
    top: 50%;
    font-family: 'kanit', sans-serif;
    font-weight: 300;
    color: #B5B4B5;
    font-size: 15px;
    opacity: 0;
}
#screen2{
	margin-top: -80vh;
	opacity: 0;
}
.borde{
	position: absolute;
	min-width: 300px;
	width: 30%
}
.somosMB{
	position: absolute;
	min-width: 162.5px;
	width: 16.2%
}

.boton-play{
	position: absolute;
	min-width: 50px;
	width: 5%;
	z-index: 4;
}
#ourwork-title {
    font-size: 15vw;
    color: #01FFA2;
    top: 0%;
    position: absolute;
    font-family: 'kanit', sans-serif;
    font-weight: 500;
    right: 0%;
    display: none;
}
#carousel {
    position: absolute;
    width: 50%;
    margin-top: -100px;
    z-index: 3;
    left: -4000px;
}
#bullets{
	display: none;
}
}